.App {
  text-align: center;
  font-family: 'Play', sans-serif;
  background-color: aquamarine;
}

header {
  display: inline-flex
}

ul li {
  display: inline;
  justify-content: space-evenly
}

.newMusic {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px
}

input {
  border-style: dotted;
  margin: 5px
}

.projectImage {
  height: auto;
  width: 300px
}

.card {
  width: 600px;
  border-style: ridge;
  border-width: 3px;
  /* grid-area: main; */
}

/* .displayAlbum {
  grid-area: sidebar
} */

/* .projectsGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "main . sidebar"
} */

.MC {
  display: flex;
  flex-direction: row;
}

.submitButton {
  width: 60px;
  align-self: center;
}

/* .projectsGrid {
  display: flex;
  flex-direction: row;
}  */

.displayAlbum {
  display: flex;
  justify-content: flex-end;
  align-self: stretch
}

.albumArt {
  height: auto;
  width: 300px
}

