.App {
  text-align: center;
  font-family: 'Play', sans-serif;
  background-color: aquamarine;
}

header {
  display: inline-flex
}

ul li {
  display: inline;
  justify-content: space-evenly
}

.newMusic {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px
}